# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# IDE (JetBrains / IntelliJ / GoLand)
# ========================
.idea/
*.iml

# ========================
# Build / Binary
# ========================
bin/
build/
*.exe
*.out
*.test

# ========================
# Logs
# ========================
*.log

# ========================
# Env (IMPORTANT)
# ========================
.env
.env.local
.env.production
.env.development

# Allow example
!.env.example

# ========================
# Go
# ========================
vendor/

# ========================
# Temp
# ========================
tmp/
temp/

# ========================
# Coverage
# ========================
coverage.out